In [2]:
import matplotlib.pyplot as plt

# pandas and numpy for data manipulation
import pandas as pd
import numpy as np

# Import the tpot regressor
from tpot import TPOTRegressor

In [3]:
data = pd.read_excel('data/raw_data.xlsx')

In [4]:
data.head()

,"The data on this sheet was used to formulate Figure 2, Figure 3, Figure S1 - S10",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Compounds,Chemical_class,NaN,NaN,SA.A_TSB_A,SA.A_TSB_B,SA.A_TSB_C,SA.A_TSB_D,SA.A_TSB_E,SA.B_TSB_A,...,EC.A_TSB_A,EC.A_TSB_B,EC.A_TSB_C,EC.A_TSB_D,EC.A_TSB_E,EC.B_TSB_A,EC.B_TSB_B,EC.B_TSB_C,EC.B_TSB_D,EC.B_TSB_E
2,Ethyl Acetate,Ester,888±8 (234),43.0,465374,193151,403286,129833,117105,316764,...,887825,670603,576884,636851,NaN,119313,128397,309004,548442,339404
3,Ethanol,Alcohol,932±8 (,45.0,1027715,1050974,1850391,5140770,3422557,914667,...,7585417,7461659,2372532,5114072,7870420,1364553,1451138,5650813,3588158,3962927
4,"Propanoic acid, ethyl ester",Fatty acid ethyl ester,953±7 (87),57.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [16]:
new_data_1 = data.swapaxes("index", "columns")

In [18]:
new_data_1

,0,1,2,3,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
"The data on this sheet was used to formulate Figure 2, Figure 3, Figure S1 - S10",NaN,Compounds,Ethyl Acetate,Ethanol,"Propanoic acid, ethyl ester",2-Pentanone,Decane,Methyl Isobutyl Ketone,Amylene hydrate,"Butanoic acid, 2-methyl-, methyl ester",...,1-Dodecanol,Methyl tetradecanoate,2-Pentadecanone,"Tetradecanoic acid, ethyl ester",Hexadecanal,n-Tridecan-1-ol,1-Tetradecanol,n-Pentadecanol,1-Hexadecanol,Indole
Unnamed: 1,NaN,Chemical_class,Ester,Alcohol,Fatty acid ethyl ester,Ketone,Alkane,Ketone,Alcohol,Fatty acid ethyl ester,...,Alcohol,Fatty acid ethyl ester,Ketone,Fatty acid ethyl ester,Aldehyde,Alcohol,Alcohol,Alcohol,Alcohol,Indole
Unnamed: 2,NaN,NaN,888±8 (234),932±8 (,953±7 (87),981±11 (141),NaN,1010±7 (44,1008±12,1010,...,1966±10 (84),2005±15 (31),2019±8 (30,2049±11 (59),2124±14 (18),2074±20,2165±10 (27),2254±15,2382±5 (49),2445±10 (46)
Unnamed: 3,NaN,NaN,43.0,45.0,57.0,43.0,43.0,43.0,59.0,57.0,...,55.0,74.0,58.0,88.0,57.0,55.0,55.0,83.0,83.0,117.0
Unnamed: 4,NaN,SA.A_TSB_A,465374,1027715,NaN,1289650,800581,324424,73015,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 83,NaN,EC.B_TSB_A,119313,1364553,0,169495,0,NaN,0,NaN,...,289615,0,0,0,0,0,0,0,0,60325589
Unnamed: 84,NaN,EC.B_TSB_B,128397,1451138,0,359499,0,NaN,0,NaN,...,749942,0,0,0,0,0,78672,0,0,107880324
Unnamed: 85,NaN,EC.B_TSB_C,309004,5650813,0,875905,0,NaN,109170,NaN,...,479315,0,0,0,0,0,84426,0,0,72102392
Unnamed: 86,NaN,EC.B_TSB_D,548442,3588158,0,637563,0,NaN,60834,NaN,...,2750809,0,0,0,0,0,146349,0,0,85257546
Unnamed: 87,NaN,EC.B_TSB_E,339404,3962927,0,2988409,348154,NaN,694251,NaN,...,8172616,698476,382222,0,0,0,635257,0,482026,97156549

In [25]:
columns_1 = new_data_1.iloc[0]

In [26]:
columns_2 = new_data_1.iloc[1]

In [28]:
type(columns_2)

pandas.core.series.Series

In [29]:
columns_1.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
64    False
65    False
66    False
67    False
68    False
Name: The data on this sheet was used to formulate Figure 2, Figure 3, Figure S1 - S10, Length: 69, dtype: bool

In [30]:
new_data_1

,0,1,2,3,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
"The data on this sheet was used to formulate Figure 2, Figure 3, Figure S1 - S10",NaN,Compounds,Ethyl Acetate,Ethanol,"Propanoic acid, ethyl ester",2-Pentanone,Decane,Methyl Isobutyl Ketone,Amylene hydrate,"Butanoic acid, 2-methyl-, methyl ester",...,1-Dodecanol,Methyl tetradecanoate,2-Pentadecanone,"Tetradecanoic acid, ethyl ester",Hexadecanal,n-Tridecan-1-ol,1-Tetradecanol,n-Pentadecanol,1-Hexadecanol,Indole
Unnamed: 1,NaN,Chemical_class,Ester,Alcohol,Fatty acid ethyl ester,Ketone,Alkane,Ketone,Alcohol,Fatty acid ethyl ester,...,Alcohol,Fatty acid ethyl ester,Ketone,Fatty acid ethyl ester,Aldehyde,Alcohol,Alcohol,Alcohol,Alcohol,Indole
Unnamed: 2,NaN,NaN,888±8 (234),932±8 (,953±7 (87),981±11 (141),NaN,1010±7 (44,1008±12,1010,...,1966±10 (84),2005±15 (31),2019±8 (30,2049±11 (59),2124±14 (18),2074±20,2165±10 (27),2254±15,2382±5 (49),2445±10 (46)
Unnamed: 3,NaN,NaN,43.0,45.0,57.0,43.0,43.0,43.0,59.0,57.0,...,55.0,74.0,58.0,88.0,57.0,55.0,55.0,83.0,83.0,117.0
Unnamed: 4,NaN,SA.A_TSB_A,465374,1027715,NaN,1289650,800581,324424,73015,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 83,NaN,EC.B_TSB_A,119313,1364553,0,169495,0,NaN,0,NaN,...,289615,0,0,0,0,0,0,0,0,60325589
Unnamed: 84,NaN,EC.B_TSB_B,128397,1451138,0,359499,0,NaN,0,NaN,...,749942,0,0,0,0,0,78672,0,0,107880324
Unnamed: 85,NaN,EC.B_TSB_C,309004,5650813,0,875905,0,NaN,109170,NaN,...,479315,0,0,0,0,0,84426,0,0,72102392
Unnamed: 86,NaN,EC.B_TSB_D,548442,3588158,0,637563,0,NaN,60834,NaN,...,2750809,0,0,0,0,0,146349,0,0,85257546
Unnamed: 87,NaN,EC.B_TSB_E,339404,3962927,0,2988409,348154,NaN,694251,NaN,...,8172616,698476,382222,0,0,0,635257,0,482026,97156549

In [33]:
actual_data = new_data_1.iloc[2:,1:]

In [37]:
actual_data.shape

(86, 68)

In [38]:
len(columns_1)

69

In [41]:
column_names = columns_1[1:]

In [42]:
actual_data.columns = column_names

In [44]:
actual_data

"The data on this sheet was used to formulate Figure 2, Figure 3, Figure S1 - S10",Compounds,Ethyl Acetate,Ethanol,"Propanoic acid, ethyl ester",2-Pentanone,Decane,Methyl Isobutyl Ketone,Amylene hydrate,"Butanoic acid, 2-methyl-, methyl ester",Isobutyl acetate,...,1-Dodecanol,Methyl tetradecanoate,2-Pentadecanone,"Tetradecanoic acid, ethyl ester",Hexadecanal,n-Tridecan-1-ol,1-Tetradecanol,n-Pentadecanol,1-Hexadecanol,Indole
Unnamed: 2,NaN,888±8 (234),932±8 (,953±7 (87),981±11 (141),NaN,1010±7 (44,1008±12,1010,1012±8 (89),...,1966±10 (84),2005±15 (31),2019±8 (30,2049±11 (59),2124±14 (18),2074±20,2165±10 (27),2254±15,2382±5 (49),2445±10 (46)
Unnamed: 3,NaN,43.0,45.0,57.0,43.0,43.0,43.0,59.0,57.0,43.0,...,55.0,74.0,58.0,88.0,57.0,55.0,55.0,83.0,83.0,117.0
Unnamed: 4,SA.A_TSB_A,465374,1027715,NaN,1289650,800581,324424,73015,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 5,SA.A_TSB_B,193151,1050974,NaN,504113,294680,189630,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 6,SA.A_TSB_C,403286,1850391,NaN,1169501,15,228163,73558,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 83,EC.B_TSB_A,119313,1364553,0,169495,0,NaN,0,NaN,0,...,289615,0,0,0,0,0,0,0,0,60325589
Unnamed: 84,EC.B_TSB_B,128397,1451138,0,359499,0,NaN,0,NaN,0,...,749942,0,0,0,0,0,78672,0,0,107880324
Unnamed: 85,EC.B_TSB_C,309004,5650813,0,875905,0,NaN,109170,NaN,0,...,479315,0,0,0,0,0,84426,0,0,72102392
Unnamed: 86,EC.B_TSB_D,548442,3588158,0,637563,0,NaN,60834,NaN,0,...,2750809,0,0,0,0,0,146349,0,0,85257546
Unnamed: 87,EC.B_TSB_E,339404,3962927,0,2988409,348154,NaN,694251,NaN,0,...,8172616,698476,382222,0,0,0,635257,0,482026,97156549

In [46]:
actual_data.drop(1, axis=1)

KeyError: '[1] not found in axis'

In [49]:
actual_data.set_index(range(1,87))

KeyError: 'None of [range(1, 87)] are in the columns'

In [53]:
actual_data = actual_data.reset_index()

In [54]:
actual_data.drop("index", axis=1)

"The data on this sheet was used to formulate Figure 2, Figure 3, Figure S1 - S10",Compounds,Ethyl Acetate,Ethanol,"Propanoic acid, ethyl ester",2-Pentanone,Decane,Methyl Isobutyl Ketone,Amylene hydrate,"Butanoic acid, 2-methyl-, methyl ester",Isobutyl acetate,...,1-Dodecanol,Methyl tetradecanoate,2-Pentadecanone,"Tetradecanoic acid, ethyl ester",Hexadecanal,n-Tridecan-1-ol,1-Tetradecanol,n-Pentadecanol,1-Hexadecanol,Indole
0,NaN,888±8 (234),932±8 (,953±7 (87),981±11 (141),NaN,1010±7 (44,1008±12,1010,1012±8 (89),...,1966±10 (84),2005±15 (31),2019±8 (30,2049±11 (59),2124±14 (18),2074±20,2165±10 (27),2254±15,2382±5 (49),2445±10 (46)
1,NaN,43.0,45.0,57.0,43.0,43.0,43.0,59.0,57.0,43.0,...,55.0,74.0,58.0,88.0,57.0,55.0,55.0,83.0,83.0,117.0
2,SA.A_TSB_A,465374,1027715,NaN,1289650,800581,324424,73015,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SA.A_TSB_B,193151,1050974,NaN,504113,294680,189630,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SA.A_TSB_C,403286,1850391,NaN,1169501,15,228163,73558,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,EC.B_TSB_A,119313,1364553,0,169495,0,NaN,0,NaN,0,...,289615,0,0,0,0,0,0,0,0,60325589
82,EC.B_TSB_B,128397,1451138,0,359499,0,NaN,0,NaN,0,...,749942,0,0,0,0,0,78672,0,0,107880324
83,EC.B_TSB_C,309004,5650813,0,875905,0,NaN,109170,NaN,0,...,479315,0,0,0,0,0,84426,0,0,72102392
84,EC.B_TSB_D,548442,3588158,0,637563,0,NaN,60834,NaN,0,...,2750809,0,0,0,0,0,146349,0,0,85257546
85,EC.B_TSB_E,339404,3962927,0,2988409,348154,NaN,694251,NaN,0,...,8172616,698476,382222,0,0,0,635257,0,482026,97156549

In [55]:
actual_data.isna().sum()

The data on this sheet was used to formulate Figure 2, Figure 3, Figure S1 - S10
index                           0
Compounds                       2
 Ethyl Acetate                  1
Ethanol                         0
Propanoic acid, ethyl ester    57
                               ..
n-Tridecan-1-ol                57
1-Tetradecanol                 57
n-Pentadecanol                 58
 1-Hexadecanol                 57
Indole                         57
Length: 69, dtype: int64